#root {
  height: 100vh;
}
.MuiContainer-root {
  height: auto !important;
}
#mainContainer {
  padding: 0;
}
@media only screen and (max-width: 480px) {
  #root {
    padding-bottom: 20vh;
  }
  #todoForm {
    padding-right: 0;
    margin-bottom: 2rem;
  }
  .todoButton {
    width: 100%;
  }
  #todoList {
    padding-bottom: 10vh;
  }
}